/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Definindo estilos gerais para resetar margens, preenchimentos e caixas */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o container principal */
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos para o player de música */
.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

/* Estilos para a barra de navegação */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Estilos para os círculos na barra de navegação */
nav .circle{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Estilos para os ícones na barra de navegação */
nav .circle i{
    color: #333;
    font-size: 20px;
}

/* Estilos para a imagem da música */
.song-img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Estilos para o título da música */
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para o artista */
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos para a barra de progresso */
input[type="range"]{
    width: 100%;
    -webkit-appearance: none;
    background: #ddd;
    height: 5px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

/* Estilos para a barra de progresso enquanto arrasta */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos para o volume */
.volume{
    display: flex;
    flex-direction: center;
    align-items:center;
    margin-top: 5px;
}

.volume p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #666;
    margin-right: 70px;

}

/* Estilos para a barra de volume */
.volume input[type="range"] {
    width: 70%; /* Define a largura inicial da barra de volume */
    max-width: 300px; /* Define a largura máxima da barra de volume */
    height: 15px;
    -webkit-appearance: none;
    background: linear-gradient(to right, #ddd 0%, #ddd 100%);
    border-radius: 5px;
    outline: none;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: relative; /* Adiciona posição relativa para o container */
}




/* Estilo para preenchimento gradativo da barra de volume */
.volume input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    background: linear-gradient(to right, #ddd 0%, #ddd 100%);
    border-radius: 5px;
}

/* Estilo para preenchimento da barra de volume quando arrastada */
.volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos para a exibição do volume em porcentagem */
#volume-display {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    position: absolute; /* Define posição absoluta para o elemento */
    bottom: 100%; /* Posiciona o elemento acima da barra de volume */
    left: 50%; /* Posiciona o elemento no meio da barra de volume */
    transform: translateX(-50%); /* Centraliza horizontalmente */
}

/* Estilos para os controles do player de música */
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para os botões de controle */
.controls div{
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
}

/* Estilos para os ícones nos botões de controle */
.controls div i{
    color: #333;
    font-size: 18px;
}
