/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Estilos gerais para resetar margens, preenchimentos e caixas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o container principal */
.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos para o player de música */
.music-player {
    background: #ffe0e5;
    width: 90%; /* Alterado para ocupar 90% da largura */
    max-width: 400px; /* Limitado a 400px */
    padding: 25px;
    text-align: center;
}

/* Estilos para a barra de navegação */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Reduzido o espaçamento */
}

/* Estilos para os círculos na barra de navegação */
nav .circle {
    width: 30px; /* Reduzido o tamanho */
    height: 30px; /* Reduzido o tamanho */
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Estilos para os ícones na barra de navegação */
nav .circle i {
    color: #333;
    font-size: 16px; /* Reduzido o tamanho */
}

/* Estilos para a imagem da música */
.song-img {
    width: 100%; /* Alterado para ocupar 100% da largura */
    max-width: 250px; /* Limitado a 250px */
    height: auto; /* Altura automática */
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px #fff, 0 0 100px 15px #ff00ff, 0 0 10px 5px #ff00ff, 0 0 5px 5px #ff00ff;
}

@keyframes pulse-neon {
    5% {
        box-shadow: 0 0 10px 2px #fff, 0 0 50px 8px #ff00ff, 0 0 5px 2px #ff00ff, 0 0 2px 2px #ff00ff;
    }
    20% {
        box-shadow: 0 0 15px 2px #fff, 0 0 30px 8px #ff00ff, 0 0 45px 15px #ff00ff, 0 0 40px 25px #ff00ff;
    }
}

/* Estilo da animação para a classe pulse-animation */
.pulse-animation {
    animation: pulse-neon 1s infinite alternate;
}

/* Estilos para o título da música e o artista */
h1, p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; /* Reduzido o tamanho */
    color: #333;
    margin-bottom: 10px; /* Reduzido o espaçamento */
}

/* Estilos para a barra de progresso e volume */
input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background: #ddd;
    height: 5px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px; /* Reduzido o espaçamento */
}

/* Estilos para a barra de progresso e volume enquanto arrasta */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos para a barra de volume */
.volume input[type="range"] {
    width: 70%;
    max-width: 250px; /* Limitado a 250px */
    height: 10px; /* Ajustado a altura */
    background: linear-gradient(to right, #ddd 0%, #ddd 100%);
    border-radius: 5px;
    outline: none;
    margin: 1% auto;
    position: relative;
}

/* Estilo para preenchimento gradativo da barra de volume */
.volume input[type="range"]::-webkit-slider-runnable-track {
    height: 5px; /* Ajustado a altura */
    background: linear-gradient(to right, #ddd 0%, #ddd 100%);
    border-radius: 5px;
}

/* Estilo para preenchimento da barra de volume quando arrastada */
.volume input[type="range"]::-webkit-slider-thumb {
    background: #FF5733;
}

/* Estilos para os controles do player de música */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; /* Adicionado espaçamento */
}

/* Estilos para os botões de controle */
.controls div {
    width: 30px; /* Reduzido o tamanho */
    height: 30px; /* Reduzido o tamanho */
    background: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px; /* Reduzido o espaçamento */
    cursor: pointer;
}

/* Estilos para o tempo inicial e final da música */
.time {
    font-family: 'Poppins', sans-serif;
    font-size: 14px; /* Reduzido o tamanho */
    color: #666;
    display: inline-block;
    width: 50px; /* Ajustado a largura */
}

/* Estilo para o texto da porcentagem do volume */
.volume-value {
    font-family: 'Poppins', sans-serif;
    font-size: 12px; /* Reduzido o tamanho */
    color: #333;
    position: absolute;
    top: -20px; /* Ajustado a posição */
    pointer-events: none;
    opacity: 0; /* Inicialmente, o texto estará invisível */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
}

/* Estilo para exibir o texto da porcentagem do volume apenas quando o mouse está sobre a barra de volume */
.volume:hover .volume-value {
    opacity: 1; /* Torna o texto visível quando o mouse está sobre a barra de volume */
}
